.mySlides1, .mySlides2, .mySlides3 {display: none}
.slideshow-container img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}



.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slide-details p {
  font-size: var(--font-size-25);
  color: var(--color-gray-50);
  text-align: center;
  margin-top: 5px;
}

.slide img {
  width:100%;
  border-radius: var(--radius-25);
  border: 1px solid var(--color-gray-15);
}

.container-animation {
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-25);
  border: 1px solid var(--color-gray-15);
  background-color: white;
}

.container-animation img {
  max-width: 500px;
  border: none;
  margin: 20px 0;
}

.container-animation img {
  max-width: 500px;
}

/* Slideshow Buttons */
.slide-button-container {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  
}

.prev-container {
  left: -25px;
}

.next-container {
  right: -25px;
}


.prev, .next {
  padding: 0px;
  margin: 0px;
  cursor: pointer; 
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-ltblue-50);
  fill: var(--color-ltblue-50);
  font-weight: bold;
  font-size: 30px;
  margin-top: -20px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
  outline: none;
  border: 4px solid var(--color-gray-2);
  background-color: white;
}

.prev svg, .next svg {
width: 30px;
height: 30px;
}


.prev:hover, .next:hover {
  background-color: white;
  border-color: white;
  color: var(--color-gray-50);
  box-shadow: var(--shadow-50);
  /* animation: pulse 2s infinite ease; */
}

/* @keyframes pulse {
  0% {transform: scale(1)}
  60% {transform: scale(1.05)}
  100% {transform: scale(1)}
} */

.final-slide {
  position: relative;
}

.final-slide .slide-container {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-25);
  padding: 30px;

}

.final-slide .slide-container h3 {
    margin: 0;
    margin-bottom: 20px;
}

.next-steps-icon {
  border-radius: 100%;
    margin-top: -65px;
    border: 3px solid var(--color-gray-15);
    box-shadow: 0 0 0 5px white;
    background-color: white;
    margin-bottom: 10px;
}


.next-steps-icon svg{
    width: 30px;
    height: 30px;
    fill: var(--color-ltblue-50);
    padding: 15px;
    padding-bottom: 10px;
}

