
:root {
    --color-gray-2: #f3f2f2;
    --color-gray-15: #e7e6e6;
    --color-gray-25: #b8b8b8;
    --color-gray-50: #808080;
    --color-gray-75: #363636;
    --color-gray-95: #16191a;

    --color-ltblue-5: #e4f4fd;
    --color-ltblue-15: #b9e3fc;
    --color-ltblue-50: #1380c0;
    --color-ltblue-75: #0271a4e6;

    --shadow-50: 0px 1px 3px #00000030,0px 0px 9px #153fa330;

    --radius-25: 10px;

    --font-size-100: 55px;
    --font-size-50: 1.1rem;
    --font-size-25: 14px;
    --font-size-10: 10px;
}

body {
    margin: 0px;
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5rem;
    position: relative;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-bottom: -10px;
    margin-top: 0px;
}

h3 {
    font-size: 1.3rem;
}

p {
    line-height: 1.5;
    color: var(--color-gray-95);
}

.details {
    font-size: .9rem;
    color: var(--color-gray-50);
    background-color: var(--color-gray-15);
    padding: 5px 10px;
    position: absolute;
    top: -30px;
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: normal;
}

p a {
    color: var(--color-gray-95);
}

p a:hover {
    text-decoration: none;
}

/* .role {
    background-color: var(--color-ltblue-5);
} */

ul {
    line-height: 1.4;
}



.container {
    display: flex; 
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;

}

/* Button */

a.primary {
    text-decoration: none;
    transition: all .5s;
    display: flex;
    gap: 5px;
    align-items: center;
}

a.primary svg {
    width: 25px;
    height: 25px;
    fill: var(--color-ltblue-50);
    transition: all .5s;
}

a.primary:hover svg {
    transform: translateX(5px);
}

a.primary.down:hover svg {
    transform: translateX(0px);
    transform: translateY(5px);
}

a.primary span {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--color-ltblue-15);
    transition: all .5s;
    color: var(--color-gray-95);  
    line-height: 1;
}

a.primary:hover span {
    border-bottom-color: var(--color-ltblue-50);
}



/* Header */
header {
    width: 100%;
    background-color: var(--color-ltblue-50);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

header .background {
    position: absolute;
    width: 800px;
    height: 900px;
    bottom: -550px;
    left: 50%;
    background: var(--color-ltblue-50);
    background-size: 800px;
    z-index: 0;
    opacity: .07;
    pointer-events: none;
}


@media screen and (max-width: 460px) {
    header .background {
        opacity: .1;
        left: 53%;
    }
}

/* Nav */
.container-header {
    justify-content: space-between;
    padding-top: 20px;
}

#main .container-header{
    justify-content: space-between;
    padding-top: 40px;
    position: absolute;
    z-index: 99;
    width: 100%;
    pointer-events: none;
}

#main .container-header .container {
    justify-content: space-between;
    padding-top: 40px;
}

header .logo img {
    height: 50px;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 550px) {
    .container-header {
        justify-content: center;
    }

    .logo {
        margin-bottom: 20px;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-mobile {
    display: none;
}



@media screen and (max-width: 550px) {
    nav {
        display: none;
    }   

    .nav-mobile {
        pointer-events: auto;
        display: flex;
        cursor: pointer;

    }

    .nav-mobile button {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile button svg {
        height: 30px;
        width: 30px;
    }

    .nav-mobile button.header svg {
        fill: white;
    }

    .nav-mobile button.header {
        border-radius: 100%;
        background-color: transparent;
        transition: all .5s ease-in-out;
        padding: 10px;
        cursor: pointer;
        pointer-events: auto;
    }

    .nav-mobile button.header:hover {
       background-color: rgba(0, 0, 0, 0.107);
    }

    .nav-mobile button.close {
        position: absolute;
        right: 30px;
        top: 30px;
        padding: 10px;
        cursor: pointer;
        border-radius: 100%;
        background-color: transparent;
        transition: all .5s ease-in-out;
    }

    .nav-mobile button.close:hover {
        background-color: var(--color-gray-15);
    }

    .nav-mobile button.close svg {
        fill: var(--color-gray-50);
    }

    #mobileNav .nav-drawer, .nav-mobile [popover] {
        height: 100vh;
        width: 250px;
        position: fixed;
        inset: unset;
        transform: translateX(0);

        background-color: white;
        padding: 20px;
        opacity: .5;
        right: 0px;
        top: 0px;
        border: 0px;
        
        box-shadow: -3px 0px 10px 5px #00000024;
        animation: slideRight  0.5s ease-in-out forwards;
    }

    #mobileNav .nav-drawer:popover-open, #mobileNav :popover-open  {
        animation: slideRight  0.5s ease-in-out forwards;
        inset: unset;
        opacity: .5;
        top: 0px;
        right: 0px;
    }

    @keyframes slideRight {
        0% {
            opacity: .5;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #mobileNav nav {
        display: flex;
        flex-direction: column; 
        margin-top: 20%;
    }

    #mobileNav a {
        color: var(--color-gray-50);
        text-align: right;
    }

    #mobileNav a:hover {
        color: var(--color-gray-75);
    }



}

.container-header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    transition: all .25s;
    border: 1px solid transparent;
    pointer-events: auto;
}

.container-header nav a:hover {
    border: 1px solid white;
}

/* Banner */

.container-banner {
    min-height: 600px;
    max-height: 500px;
    position: relative;
    width: 100%;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    max-width: 100%;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .container-banner {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }  
}



/* Banner Cards */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow-50);
    min-height: 200px;
    opacity: .1;
    mix-blend-mode: overlay;
    transition: all .35s ease-out;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    border: none;
    text-align: left;
    position: relative;
}

.card .message {
    opacity: 0;
    transition: all .5s ease-out;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.overlay .message {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.card .message p {
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-gray-50);
    line-height: 1.3;
}

.card img {
    object-fit: cover;
    width: 100%;
}

.card:hover {
    opacity: .9;
    transform: scale(1.01);
    mix-blend-mode: normal;
}

.card .content {
    padding: 20px;
}

.card h3, .card p {    
    font-size: 12px;  
    margin: 0px;
    line-height: 1.4;
    margin-bottom: 3px;
}

.card a.primary span {
    border-bottom-width: 1px;
    font-size: 12px;
    font-weight: normal;
}
.card a.primary svg {
    width: 15px;
    height: 15px;
}

.card .chip {
    color: var(--color-gray-25);
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 2px;
    display: inline-block;
}

.card a.down:hover svg {
    transform: translateX(0);
    transform: translateY(4px);
}

/* Banner */

.banner-graphic {
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.container-banner h1 {  
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    margin: 0;
}

.container-banner .hor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 10;
    line-height: 0;
}


/* Main */

main {
    margin-top: -10px;
    border-top: 10px solid #00000021;
    position: relative;
    z-index: 5;
}

.container-profile {
    gap: 40px;
}

.one-fourth {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-fourth img {
    max-width: 250px;
    border-radius: 100%;
    margin-top: -100px;
    border: 7px solid var(--color-gray-15);
    box-shadow: 0 0 0 14px white;
}

@media screen and (max-width: 940px) {
    .one-fourth, .one-fourth img {
        display: none;
    }
}

.three-fourths {
    flex: 1 1 550px;
}

/* Work */

.ribbon {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-gray-2);
}

.divider {
    border-top: 5px solid var(--color-gray-15);
    padding-top: 100px;
    margin-top: 100px;
}

.project-banner {
    max-width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.project-details {
    max-width: 800px;
    margin: 30px auto 0px;
}

#work h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

h3 a {
    color: var(--color-gray-95);
    
}

h3 a:hover {
    text-decoration: none;
}



/* Personal */

.personal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.flex-one-third {
    flex: 0 1 500px;
}

.flex-two-thirds {
    flex: 1 1 400px;
}



/* Case Study Page */

.case-study .header-nav {
    width: 100%;
    background-color: var(--color-ltblue-75);
}

.case-study .header-nav .container-header {
    padding: 30px 0;
}


.case-study .ribbon .container {
    padding: 20px 40px;
}

.case-study .ribbon .container img {
    border-radius: var(--radius-25);
    box-shadow: var(--shadow-50);
    width: 100%;
    margin-bottom: 5px;
}

#schoolwio.case-study .ribbon .container img {
    box-shadow: 0px 1px 2px #00000017, 0px 0px 6px #153fa324;
}

.case-study .ribbon .container figure {
    margin: 0;
    margin-bottom: 20px;
}

.case-study .ribbon .container figure figcaption {
text-align: center;
font-size: 14px;
color: #363636;

}

/* .case-study .ribbon .container figure figcaption::first-letter {
    text-transform: capitalize;
} */

.case-study .ribbon-two-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.case-study .ribbon-two-flex div {
    flex: 1 1 250px;
}

.ribbon .container .ribbon-two-flex img, .ribbon .container .no-styling {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.case-study h1 {
    margin-bottom: 10px;
}

.case-study h3 {
    margin-bottom: -10px;
    margin-top: 25px;
}

.case-study .container {
    max-width: 800px;
}

/* Schoolwio Case Study */

#schoolwio.case-study .ribbon {
    background-color: #c8d3ec;
}

.case-study header {
    height: 100px;
}

#schoolwio.case-study header .background {
    background: none;
}

/* #schoolwio.case-study header {
    background: url(images/projects/schoolwio/schoolwio-cover.png) no-repeat top center;
    background-size: cover;
    
} */


#schoolwio.case-study .final { 
    background: var(--color-ltblue-50) url(images/projects/schoolwio/schoolwio-slide-last.png) no-repeat center center;
    background-size: 50%;
}

/* Pattern Library Case Study */
#pattern-library.case-study .ribbon {
    background-color: #f9f9f9;
}

#pattern-library.case-study .ribbon .container img {
    box-shadow: 0px 1px 3px #e4e4e430,0px 0px 4px #898d9730;
}




#pattern-library.case-study header .background {
    background: none;
}

#pattern-library.case-study header {
    /* background: #f9f9f9 url(pages/pattern-library/images/pattern-library-final-transparent.png) no-repeat center center;
    background-size: contain; */
    background-color: #f9f9f9;

}


#pattern-library.case-study .final { 
    background: var(--color-ltblue-50) url(images/projects/schoolwio/schoolwio-slide-last.png) no-repeat center center;
    background-size: 50%;
}

/* Final Slide */

.final-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .final-ribbon .final-container {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-25);
    padding: 30px; 
  }
  
  .final-ribbon .final-container h3 {
      margin: 0;
      margin-bottom: 20px;
  }
  
  .next-steps-icon {
    border-radius: 100%;
      margin-top: -65px;
      border: 3px solid var(--color-gray-15);
      box-shadow: 0 0 0 5px white;
      background-color: white;
      margin-bottom: 10px;
  }
  
  
  .next-steps-icon svg{
      width: 30px;
      height: 30px;
      fill: var(--color-ltblue-50);
      padding: 15px;
      padding-bottom: 10px;
  }

/* Contact Footer */

footer section#contact article {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}

footer section#contact article p {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

footer section#contact article a.primary:hover svg {
    transform: translateX(0);
}

#contact h2 {
    margin-bottom: 10px;
}